<div class="mobile-container">
    <h2 class="header_styles">UI/UX Task Manager</h2>
  <!-- Top Navigation Menu -->
  <div class="topnav">
    <h2 class="_inactive">UI/UX</h2>
    <div class="container icon" ((click)="spa_openMenu_section()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="myLinks" id="navbar" style="display:block;">
      <a routerLinkActive="active" routerLink="home">Home</a>
      <a routerLink="contactus">Contact Us</a>
      <!-- <a href="#ui_ux">UI/UX Team</a>
      <a href="#logout">Logout</a> -->
    </div>

  </div>
    
  <router-outlet></router-outlet>


  </div>
  